/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
#root {
    padding-left: 30px;
  }
  
  h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }
  
  
  
  button {
  font-size: 1rem;
    padding: .3rem 1rem;
    margin-right: 1rem;
    /* font-weight: bold; */
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    /* transform: translateY(-2px); */
    background-color: grey;
    color: white;
}

table {
  
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    width: 80px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
    font-size: 1rem;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }